*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}

@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
.cell{
    width: 900px;
    margin: 20px auto;
    border: 1px solid #777;
    min-height: 100vh;
    position: relative;
}
.name{
    text-align: right;
    border-bottom: 1px solid #777;
    padding: 10px;

}
.data{
    display: flex;
    justify-content:center ;
    border-bottom: 1px solid #777;

}
.data div{
    flex: 1;
    text-align: right;
    padding: 10px;
}
.site{
    border-right: 1px solid #777;
}
.dir{
    height: 350px;
    border-bottom: red 1px solid;
    position: relative;
}
hr{
    position: absolute;
}
hr.top{
    background-color: red;
    height: 2px ;
    width: calc(100% - 100px);
    margin-top: 50px;
    margin-left: 50px;
}
hr.bottom{
    background-color: red;
    height: 2px ;
    width: calc(100% - 100px);
    bottom: 50px;
    margin-left: 50px;
}
hr.right{
    height: calc(100% - 100px);
    width: 2px;
    margin-left: 50px;
    margin-top: 50px;
}
hr.left{
    height: calc(100% - 100px);
    width: 2px;
    right: 50px;
    top: 50px;
}
.s{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}
.s img{
    width: 50px;
}
.qu{
    padding: 10px;
    text-align: right;
    padding-bottom: 120px;
}
input[type=checkbox]:nth-child(1){
    margin: 0 80px 0 0px;
}
input[type=checkbox]:nth-child(2){
    margin: 0 40px 0 0px;
}
.qu div{
    font-size: 22px;
    padding: 20px;
}

.m-5{
    margin: 5px 0;
}
.pt{
    position: absolute;
    font-size: 170px;
    opacity: 0.08;
    transform: rotate(-45deg);
    top: 320px;
    left: 0;
    font-weight: bold;
}
span img{
    width: 70px;
}
span{
    display: block;
    text-align: center;
}
.qq{
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}